.root {
    -fx-background-color: pink;
}
.label {
    -fx-font-size: 20;
}

.button {
  -fx-background-color:#555555; /* Green */
  -fx-border: none;
  -fx-color: white;
  -fx-padding: 15px 32px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
}